/* root font size that will be considered 1rem */
html {
    font-size: 16px;
}
/* body background */
body {
    background-image: url("../images/gradient-bg.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* container for the page */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
/* sidebar hover */
.sidebar-btn:hover {
    background-color: white;
}
/* popup hover */
.popup-hover {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.popup-hover:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}